html{
    background-color: greenyellow;
    font-family: 'Times New Roman', Times, serif;
}
/*textarea*/
input[type=text], select, textarea{
    width: 25%;
    padding: 10px;
    border: 1px solid;
}
input[type=tel]{
    width: 100px;
    padding: 8px;
    border: 1px solid;
}
/*submit button and reset button*/
input[type=Submit]{
    background-color: rgb(17, 185, 121);
    color: white;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset]{
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

/*background */
body{
    border: 2px solid;
    margin-right: 200px;
    margin-left: 200px;
    background-color: silver;
}
/*Gender*/
input[type=radio]{
    cursor: pointer;
}
